<h2>SPYPredictor</h2>
Final Project Prototype Shuzo Katayama, 15 November 2020

Description

In this project, I hope to accomplish the task of predicting the price of the SPRD S&P 500 ETF (SPY), a popular exchange-traded fund that trakcs the performance of the S&P 500 market index. Specifically, I want to use a regression algorithm to train a model to predict the closing price of SPY on a particular day given (but not limited to) these factors: the GDP, the unemployment rate, and the federal funds rate, and the opening price of SPY. 

As a prototype, I plan to use these few indicators to predict the closing price of SPY, but I do not expect for it to work well because these indicators are not updated daily. Throughout the project, I plan to add more indicators and train more models to fine tune the models I train. I will, therefore, run this final project as a long experiment, essentially using a trial and error tactic to find the best model for this task. Ultimately, I hope to have a long Jupyter Notebook that tracks the progress of the different models I trained, and a shorter Juptyer Notebook just containing the final model.

By predicting the price of SPY, I hope to accomplish the task of seeing which factors can best predict the movement of the S&P 500 index on a given day. This information can be used to better understand what affects the movement of the US market in general. Since SPY is a collection of a lot of the largest corporations in the US, seeing what data most accurately predicts the movement of SPY can generalise what kind of data moves the US stock market in general.

Progress

For this prototype, I created a very basic version of the final product. 

The project now needs more fine tuning to be complete. For the rest of the project, I will be adding more data to fine tune the regression model, while simultaneously testing different regression models (symbolic regression, random trees regression, and linear regression) to improve the model. Essentially, I plan to run the weeks leading up to the due date of the final project as a long trial and error experiment to see how well I can train the SPYPredictor.

Data:

SPY Prices: https://finance.yahoo.com/quote/SPY/history?period1=728265600&period2=1604966400&interval=1mo&filter=history&frequency=1mo&includeAdjustedClose=true \
GDP: https://fred.stlouisfed.org/series/GDP \
Unemployment: https://fred.stlouisfed.org/series/UNRATE \
Federal Funds Rate: https://fred.stlouisfed.org/series/FEDFUNDS

In [1]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import numpy as np
import pandas as pd

Importing the data:\
All the data will come initially in a DataFrame with the name of the data followed by 'df'

In [2]:
# Daily prices of SPY
SPYdf = pd.read_csv('SPYDaily.csv')
SPYdf

,Date,Open,High,Low,Close,Adj Close,Volume
0,1993-01-29,43.968750,43.968750,43.750000,43.937500,26.079659,1003200
1,1993-02-01,43.968750,44.250000,43.968750,44.250000,26.265144,480500
2,1993-02-02,44.218750,44.375000,44.125000,44.343750,26.320782,201300
3,1993-02-03,44.406250,44.843750,44.375000,44.812500,26.599014,529400
4,1993-02-04,44.968750,45.093750,44.468750,45.000000,26.710312,531500
...,...,...,...,...,...,...,...
6992,2020-11-03,333.690002,338.250000,330.290009,336.029999,336.029999,93294200
6993,2020-11-04,340.859985,347.940002,339.589996,343.540009,343.540009,126959700
6994,2020-11-05,349.239990,352.190002,348.859985,350.239990,350.239990,82039700
6995,2020-11-06,349.929993,351.510010,347.649994,350.160004,350.160004,74973000
6996,2020-11-09,363.970001,364.380005,354.059998,354.559998,354.559998,171760300

In [3]:
GDPdf = pd.read_csv('GDPQuarterly.csv')
GDPdf

           DATE        GDP
0    1993-01-01   6729.459
1    1993-04-01   6808.939
2    1993-07-01   6882.098
3    1993-10-01   7013.738
4    1994-01-01   7115.652
..          ...        ...
106  2019-07-01  21540.325
107  2019-10-01  21747.394
108  2020-01-01  21561.139
109  2020-04-01  19520.114
110  2020-07-01  21157.635

[111 rows x 2 columns]

In [4]:
Unemploymentdf = pd.read_csv('UnemploymentMonthly.csv')
Unemploymentdf['UNRATE'].astype('float')
Unemploymentdf

           DATE  UNRATE
0    1993-01-01     7.3
1    1993-02-01     7.1
2    1993-03-01     7.0
3    1993-04-01     7.1
4    1993-05-01     7.1
..          ...     ...
329  2020-06-01    11.1
330  2020-07-01    10.2
331  2020-08-01     8.4
332  2020-09-01     7.9
333  2020-10-01     6.9

[334 rows x 2 columns]

In [5]:
FedFundspd = pd.read_csv('Fedfunds.csv')
FedFundspd

           DATE  FEDFUNDS
0    1993-01-01      3.02
1    1993-02-01      3.03
2    1993-03-01      3.07
3    1993-04-01      2.96
4    1993-05-01      3.00
..          ...       ...
329  2020-06-01      0.08
330  2020-07-01      0.09
331  2020-08-01      0.10
332  2020-09-01      0.09
333  2020-10-01      0.09

[334 rows x 2 columns]

Splitting Data into X and y

In [6]:
# Training targets are the closing prices of SPY
y = SPYdf.to_numpy()
y = y[:, 4]

In [7]:
# Initialise Xdf as initially having 5 columns and the number of rows in SPYdf
c = 4
r = len(SPYdf)

a = SPYdf.to_numpy()
X = np.empty((r,c))

# Keep a separate array of the dates
Xdate = SPYdf.to_numpy()
Xdate = Xdate[:,0]

For the training data, the following columns in the array X will contain the following data:\
0: Opening price\
1: GDP\
2: Unemployment\
3: Federal Funds Rate

In [8]:
# Copy into column 0 in X, the opening price from a
counter = 0
for item in a:
    X[counter, 0] = item[1]
    counter = counter+1

In [9]:
# Copy in to column 1, the GDP
# GDP is calculated quarterly, and SPY is daily; writing GDP value every day in the quarter in X
g = GDPdf.to_numpy()
counter = r-1
gdpcounter = (len(g)-1)
for item in X:
    if g[gdpcounter,0] == Xdate[counter]:
        gdpcounter = gdpcounter - 1
    
    item[1] = g[gdpcounter, 1]
    counter = counter - 1
    
X

array([[   43.96875 , 21157.635   ,     0.      ,     0.      ],
       [   43.96875 , 21157.635   ,     0.      ,     0.      ],
       [   44.21875 , 21157.635   ,     0.      ,     0.      ],
       ...,
       [  349.23999 , 21561.139   ,     0.      ,     0.      ],
       [  349.929993, 21561.139   ,     0.      ,     0.      ],
       [  363.970001, 21561.139   ,     0.      ,     0.      ]])

In [10]:
# Copy into column 2, the Unemployment
# Unemployment is calculated monthly; writing Unemployment every day in the month in X
u = Unemploymentdf.to_numpy()
counter = r-1
ucounter = (len(u)-1)
for item in X:
    if u[ucounter, 0] == Xdate[counter]:
        ucounter = ucounter - 1
        
    item[2] = u[ucounter, 1]
    counter = counter - 1

np.set_printoptions(suppress=True)
X

array([[   43.96875 , 21157.635   ,     6.9     ,     0.      ],
       [   43.96875 , 21157.635   ,     6.9     ,     0.      ],
       [   44.21875 , 21157.635   ,     6.9     ,     0.      ],
       ...,
       [  349.23999 , 21561.139   ,     8.4     ,     0.      ],
       [  349.929993, 21561.139   ,     8.4     ,     0.      ],
       [  363.970001, 21561.139   ,     8.4     ,     0.      ]])

In [11]:
# Copy into column 3, the Federal Funds Rate
# Federal Funds Rate is calculated monthly;
f = FedFundspd.to_numpy()
counter = r-1
fcounter = (len(f)-1)
for item in X:
    if f[fcounter, 0] == Xdate[counter]:
        fcounter = fcounter - 1
        
    item[3] = f[fcounter, 1]
    counter = counter - 1
    
X

array([[   43.96875 , 21157.635   ,     6.9     ,     0.09    ],
       [   43.96875 , 21157.635   ,     6.9     ,     0.09    ],
       [   44.21875 , 21157.635   ,     6.9     ,     0.09    ],
       ...,
       [  349.23999 , 21561.139   ,     8.4     ,     0.1     ],
       [  349.929993, 21561.139   ,     8.4     ,     0.1     ],
       [  363.970001, 21561.139   ,     8.4     ,     0.1     ]])

Splitting data into training and testing sets using train_test_split

In [12]:
# Splitting into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=1)

In [13]:
'''
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

sc_y = StandardScaler()
sc.fit(y_train[:, np.newaxis])
y_train_std = sc.transform(y_train[:, np.newaxis]).flatten()
y_test_std = sc.transform(y_test[:, np.newaxis]).flatten() 
'''

'\nsc = StandardScaler()\nsc.fit(X_train)\nX_train_std = sc.transform(X_train)\nX_test_std = sc.transform(X_test)\n\nsc_y = StandardScaler()\nsc.fit(y_train[:, np.newaxis])\ny_train_std = sc.transform(y_train[:, np.newaxis]).flatten()\ny_test_std = sc.transform(y_test[:, np.newaxis]).flatten() \n'

To keep track of my progress, I'm going to name each model a two letter abbreviation of the model type followed by a number

Model RF0: Training the Random Forest Regressor, from sci-kit learn

In [14]:
from sklearn.ensemble import RandomForestRegressor

In [15]:
est = RandomForestRegressor(n_estimators=1000, criterion='mse', random_state=1, n_jobs=-1)
est.fit(X_train, y_train)
# est.fit(X_train_std, y_train_std)

RandomForestRegressor(n_estimators=1000, n_jobs=-1, random_state=1)

In [16]:
y_train_pred = est.predict(X_train)
y_test_pred = est.predict(X_test)

print('MSE train: %.3f, test: %.3f' % (
        mean_squared_error(y_train, y_train_pred),
        mean_squared_error(y_test, y_test_pred)))
        # mean_squared_error(y_train_std, y_train_pred),
        # mean_squared_error(y_test_std, y_test_pred)))
print('R^2 train: %.3f, test: %.3f' % (
        r2_score(y_train, y_train_pred),
        r2_score(y_test, y_test_pred)))
        # r2_score(y_train_std, y_train_pred),
        # r2_score(y_test_std, y_test_pred)))

MSE train: 0.521, test: 2.904
R^2 train: 1.000, test: 0.999

Model SR0: Training the Symbolic Regressor model, from gp learn

In [17]:
from gplearn.genetic import SymbolicRegressor

In [18]:
est = SymbolicRegressor(population_size=1000,
                        init_depth=(4,6),
                        generations=100, stopping_criteria=0.01,
                        p_crossover=0.3, p_subtree_mutation=0.35,
                        p_hoist_mutation=0.0, p_point_mutation=0.35,
                        max_samples=1.0, verbose=1,
                        #const_range=None,
                        const_range=(-1.0,1.0),
                        tournament_size=5,
                        function_set=('add', 'sub', 'mul', 'div', 'sqrt', 'log', 
                                      'abs', 'neg', 'inv', 'max','min', 'sin', 'cos', 'tan'),
                        parsimony_coefficient=0.0001, random_state=0)
est.fit(X_train, y_train)

    |   Population Average    |             Best Individual              |
---- ------------------------- ------------------------------------------ ----------
 Gen   Length          Fitness   Length          Fitness      OOB Fitness  Time Left
   0    14.96      1.18179e+10        3         0.894873              N/A      1.21m
   1    14.79           103822       35         0.894873              N/A      1.12m
   2    17.58           473541        2         0.894873              N/A      1.20m
   3    20.95           7439.1       11         0.894385              N/A      1.16m
   4    22.06          8278.99        5         0.894208              N/A      1.25m
   5    19.78          569.126        5         0.894208              N/A      1.21m
   6    11.39          38356.1       20         0.894068              N/A     57.30s
   7     5.57          50228.4       14         0.894385              N/A     53.34s
   8     3.36          39085.1        5         0.894385              N/A     50.10s
   9     3.06           929110        5         0.894385              N/A     47.48s
  10     3.18           4180.8        6         0.894001              N/A     47.58s
  11     3.45           933470        6         0.894001              N/A     48.53s
  12     4.12          39303.2        6         0.894001              N/A     48.59s
  13     4.81            15880        6         0.894001              N/A     47.86s
  14     5.22          40741.6       10         0.893869              N/A     50.36s
  15     5.56          1165.17        6         0.893862              N/A     50.85s
  16     5.65          1075.78        6         0.893862              N/A     48.26s
  17     5.98           471149        6         0.893862              N/A     45.27s
  18     6.14      4.62941e+06        6         0.893862              N/A     45.31s
  19     6.25           470802       17         0.893859              N/A     45.32s
  20     6.11           223896       17         0.893859              N/A     47.36s
  21     6.00          7792.43        7         0.893862              N/A     47.18s
  22     5.94      1.39259e+06        6         0.893862              N/A     52.07s
  23     5.46          2044.69        7         0.893862              N/A     44.19s
  24     5.34           600619        5         0.893862              N/A     43.53s
  25     5.09      4.64628e+06        6         0.893862              N/A     40.81s
  26     4.73      4.64664e+06        5         0.893861              N/A     42.92s
  27     4.44           940927        5         0.893862              N/A     40.29s
  28     4.23          16268.2        5         0.893862              N/A     37.72s
  29     4.03           465194        5         0.893862              N/A     37.07s
  30     4.07          4174.57        5         0.893862              N/A     37.85s
  31     4.14           939365        5         0.893945              N/A     37.75s
  32     4.14          3046.84        7         0.893929              N/A     36.59s
  33     4.11          4236.48        7         0.893929              N/A     38.80s
  34     4.16          11377.2        5         0.893949              N/A     35.66s
  35     4.07           217846        5         0.893949              N/A     36.42s
  36     3.92           468141        5         0.893861              N/A     36.44s
  37     3.81           935188        5         0.893949              N/A     36.33s
  38     3.87           465192        5         0.893949              N/A     36.20s
  39     4.02           473836        5         0.893875              N/A     34.11s
  40     3.95           480543        5         0.893949              N/A     32.39s
  41     3.97          33597.3        5         0.893949              N/A     35.12s
  42     3.96           928961        3         0.893933              N/A     34.56s
  43     3.98           930266        3         0.893933              N/A     30.97s
  44     3.96           984117        3         0.893933              N/A     29.57s
  45     3.96          33562.3        3         0.893933              N/A     37.11s
  46     3.89          5650.69        3         0.893933              N/A     31.19s
  47     3.93          12180.5        3         0.893933              N/A     31.02s
  48     4.04           542607        3         0.893933              N/A     30.09s
  49     4.07      1.39649e+06        3         0.893933              N/A     29.15s
  50     3.90           471952        3         0.893933              N/A     29.98s
  51     3.99      2.26411e+06        3         0.893933              N/A     28.24s
  52     4.08      5.60857e+06        3         0.893933              N/A     28.05s
  53     4.07          7292.83        5         0.893907              N/A     27.30s
  54     3.90       4.4085e+06        3         0.893933              N/A     25.43s
  55     3.94          1316.72        3         0.893933              N/A     26.72s
  56     3.90           469655        3         0.893933              N/A     24.57s
  57     3.93           461937        3         0.893933              N/A     25.70s
  58     4.12          4949.29        3         0.893933              N/A     26.70s
  59     4.07          65134.7        3         0.893933              N/A     26.01s
  60     3.91          5629.38        3         0.893933              N/A     29.74s
  61     3.99           468241        3         0.893933              N/A     23.92s
  62     3.98      1.40246e+06        3         0.893933              N/A     23.99s
  63     3.97           471883        3         0.893933              N/A     22.62s
  64     3.94      9.24052e+06        3         0.893933              N/A     21.97s
  65     3.89           473075        3         0.893933              N/A     25.35s
  66     3.89           472305        3         0.893933              N/A     21.15s
  67     3.90          44549.9        3         0.893933              N/A     20.94s
  68     4.00           468484        3         0.893933              N/A     21.16s
  69     3.79          8910.69        3         0.893933              N/A     19.21s
  70     4.06      7.33987e+09        3         0.893933              N/A     20.38s
  71     4.04           464870        3         0.893933              N/A     18.43s
  72     3.82            10330        3         0.893933              N/A     17.01s
  73     3.93           931.68        3         0.893933              N/A     19.03s
  74     4.04           467619        3         0.893933              N/A     16.69s
  75     4.10          27320.5        3         0.893933              N/A     16.38s
  76     3.86          39581.8        3         0.893933              N/A     14.64s
  77     3.86      3.89429e+06        3         0.893933              N/A     13.10s
  78     3.99          1881.71        3         0.893933              N/A     14.09s
  79     4.27           468262        3         0.893866              N/A     13.37s
  80     4.12           928901        3         0.893866              N/A     13.37s
  81     3.83           472909        3         0.893861              N/A     11.53s
  82     3.92           447394        3         0.893861              N/A     11.14s
  83     4.14          49858.7        3         0.893861              N/A     11.21s
  84     4.01          7998.31        7         0.893859              N/A     10.59s
  85     3.89          66142.4        3         0.893861              N/A      8.87s
  86     3.88          7515.81        3         0.893861              N/A      7.66s
  87     4.01           464770        3         0.893861              N/A      7.14s
  88     3.95           468387        3         0.893861              N/A      6.25s
  89     3.97           471289        3         0.893861              N/A      5.93s
  90     3.81          3122.67        3         0.893861              N/A      5.13s
  91     3.98           328853        3         0.893861              N/A      4.96s
  92     3.94      1.17204e+06        3         0.893861              N/A      4.06s
  93     3.88          5011.32        3         0.893861              N/A      3.61s
  94     3.96      1.30181e+06        3         0.893861              N/A      2.96s
  95     3.98           476898        3         0.893861              N/A      2.35s
  96     3.82      1.85958e+06        3         0.893861              N/A      1.78s
  97     3.85      1.10753e+06        3         0.893861              N/A      1.18s
  98     3.91          4758.09        3         0.893861              N/A      0.61s
  99     3.92          1183.78        3         0.893861              N/A      0.00s

SymbolicRegressor(function_set=('add', 'sub', 'mul', 'div', 'sqrt', 'log',
                                'abs', 'neg', 'inv', 'max', 'min', 'sin', 'cos',
                                'tan'),
                  generations=100, init_depth=(4, 6), p_crossover=0.3,
                  p_hoist_mutation=0.0, p_point_mutation=0.35,
                  p_subtree_mutation=0.35, parsimony_coefficient=0.0001,
                  random_state=0, stopping_criteria=0.01, tournament_size=5,
                  verbose=1)

Model LR0: Training the Linear Regression model with default settings

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
est = LinearRegression()
est.fit(X_train, y_train)

LinearRegression()

In [21]:
y_train_pred = est.predict(X_train)
y_test_pred = est.predict(X_test)

print('MSE train: %.3f, test: %.3f' % (
        mean_squared_error(y_train, y_train_pred),
        mean_squared_error(y_test, y_test_pred)))
        # mean_squared_error(y_train_std, y_train_pred),
        # mean_squared_error(y_test_std, y_test_pred)))
print('R^2 train: %.3f, test: %.3f' % (
        r2_score(y_train, y_train_pred),
        r2_score(y_test, y_test_pred)))
        # r2_score(y_train_std, y_train_pred),
        # r2_score(y_test_std, y_test_pred)))

MSE train: 1.955, test: 1.933
R^2 train: 1.000, test: 1.000

Thus far, this code shows the first step in the experimentation process that I will continue to do. This project will mainly consist of adding data to X or adjusting the parameters of the models, and training all three algorithms on the new data to see how it improves prediction. The code runnnin